@model AppointmentAddRequest
@{
    Layout = "_DashboardLayout";
}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">

    <h1 class="text-2xl font-semibold mb-4">Create appointment</h1>

    <form asp-action="CreateAppointment"  asp-controller="Appointments" method="post">
        <div class="mb-4">
            <label asp-for="Start" class="block text-sm font-medium text-gray-600">Appointments date:</label>
            <input type="text" name="Start" datepicker class="mt-1 p-2 w-full border border-gray-300 rounded-md">
        </div>
        <div class="mb-4">
            <label asp-for="Hour" class="block text-sm font-medium text-gray-600">Time of appointment</label>
            <input asp-for="Hour" id="timeInput" class="mt-1 p-2 w-full border border-gray-300 rounded-md" placeholder="__:__">
        </div>
        <div class="mb-4">
            <label asp-for="Duration" class="block text-sm font-medium text-gray-600">Duration in minutes:</label>
            <input asp-for="Duration" max="1400" min="1" class="mt-1 p-2 w-full border border-gray-300 rounded-md">
        </div>
        
        <div class="text-center">
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md">Add</button>
        </div>

    </form>

</div>
<script src="~/js/hourInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/datepicker.min.js"></script>