@model TestModel?

@{
    Layout = "_DashboardLayout";
}
@* @Model.A1 *@
@* @Model.A2 *@
@* <h1>Kolekcja: </h1> *@
@* @foreach (var item in Model.Models2) *@
@* { *@
@*     <p>B1: </p><p>@item.B1</p> *@
@*     <p>B2: </p><p>@item.B2</p> *@
@* } *@