@* @model TestModel2 *@
@* @{ *@
@*     Layout = "_DashboardLayout"; *@
@*     var lista = ViewBag.List as List<TestModel2>; *@
@* } *@
@* *@
@* @if (lista != null) *@
@* { *@
@*     foreach (var item in lista) *@
@*     { *@
@*         <p>@item.B1 &nbsp; @item.B2</p> *@
@*     } *@
@* } *@
@* *@
@* <form asp-controller="Dashboard" asp-action="StepTwo" method="post"> *@
@*     <input asp-for="B1"></input> *@
@*     <input asp-for="B2"></input> *@
@*     <input asp-for="IsEnd"></input> *@
@*     <button type="submit">Przejdz dalej</button> *@
@* </form> *@
@* <a asp-action="StepOne" asp-controller="Appointments">Step One</a> *@