@* @model TestModel *@
@* @{ *@
@*     Layout = "_DashboardLayout"; *@
@* } *@
@* <form asp-controller="Dashboard" asp-action="StepOne" method="post"> *@
@*     <input asp-for="A1"></input> *@
@*     <input asp-for="A2"></input> *@
@*     <button type="submit">Dodaj</button> *@
@* </form> *@